{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-color-dark">
    <div class="container-fluid">
      <a href="{% if not isDoctor %} {% url 'home' %} {% else %} {% url 'open_agenda' %} {% endif %}" class="navbar-brand" href="#"><img src="{% static 'general/img/logo.png' %}" width="20%" alt="">&nbsp;Healing</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if isDoctor %}
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Doctors area
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="{% url 'open_agenda' %}">Open agenda</a></li>
                      <li><a class="dropdown-item" href="{% url 'appointments_dr' %}">Your appointments</a></li>
                      <li><a class="dropdown-item" href="{% url 'dashboard' %}">Your dashboard</a></li>
                  </ul>
              </li>
            {% elif not isDoctor %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Patient area
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
                  <li><a class="dropdown-item" href="{% url 'my_appointments' %}">My appointments</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="{% url 'register_doctors' %}" class="nav-link">I'm a doctor</a>
              </li>
            {% else %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  My area
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
                </ul>
              </li>
            {% endif %}
            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link">Logout </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>