{% extends 'base.html' %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="/static/users/css/users.css" />

{% endblock 'head' %} {% block 'body' %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md d-flex justify-content-center">
      <div class="cont-cadastro">
        <br />
        <br />
        <section class="cont-logo">
          <img class="logo" src="/static/general/img/logo.png" />
          <label class="text-logo">Healing</label>
        </section>
        <hr />

        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
          <h2 class="fonte-destaque1">Login</h2>
          {% if messages %}
          <br />
          {% for message in messages %}
          <section class="alert {{message.tags}}">{{message}}</section>
          {% endfor %} {% endif %}
          <br />
          <label for="">Username: </label>
          <input
            type="text"
            name="username"
            id=""
            class="form-control"
            placeholder="Type your username"
          />
          <br />

          <label for="">Password: </label>
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Type your password"
          />
          <br />
          <input
            type="submit"
            value="Login"
            class="btn btn-success btn-dark-color"
          />
          <a href="{% url 'register' %}" class="btn btn-dark-color-outline"
            >I don't have an account.</a
          >
        </form>
      </div>
    </div>
    <div
      class="col-md bg-main d-flex justify-content-center align-items-center"
    >
      <img src="{% static 'users/img/ilustracao.png' %}" alt="" />
    </div>
  </div>
</div>
{% endblock 'body' %}
