{% extends "base.html" %} {% block 'head' %}
<link rel="stylesheet" href="/static/users/css/users.css" />
{% endblock 'head' %}
<!--This page extends the base.html-->
{% block 'body' %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md d-flex justify-content-center">
      <div class="cont-cadastro">
        
        <br />
        <br />
        <section class="cont-logo">
          <img src="/static/general/img/logo.png" alt="Logo" class="logo" />

          <label class="text-logo">Healing</label>
        </section>
        <hr />

        <form action="{% url 'register' %}" method="POST">
          {% csrf_token %}
          <h2 class="fonte-destaque1">Register</h2>
          {% if messages %}
          <br />
          {% for message in messages %}
          <section class="alert {{message.tags}}">{{message}}</section>
          {% endfor %} {% endif%}
          <br />
          <label for="username">Username: </label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="username"
            placeholder="Type your username"
          />
          <br />
          <label for="email">E-mail: </label>
          <input
            type="text"
            name="email"
            class="form-control"
            id="email"
            placeholder="Type your e-mail"
          />
          <br />
          <div class="row">
            <div class="col-md">
              <label for="password">Password: </label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="password"
                placeholder="Type your password"
              />
            </div>
            <div class="col-md">
              <label for="password_confirm">Password confirmation: </label>
              <input
                type="password"
                name="password_confirm"
                class="form-control"
                id="password_confirm"
                placeholder="Confirm your password"
              />
            </div>
          </div>
          <br />

          <input
            type="submit"
            value="Register"
            class="btn btn-success btn-dark-color"
          />
          <a href="{% url 'login' %}" class="btn btn-dark-color-outline">
            I just have an account.</a
          >
        </form>
      </div>
    </div>
    <div
      class="col-md bg-main d-flex justify-content-center align-items-center"
    >
      <img src="/static/users/img/ilustracao.png" alt="" />
    </div>
  </div>
</div>
{% endblock 'body' %}
