{% extends "base.html" %}
{% load static %}

{% block 'head' %}

    <link rel="stylesheet" href="{% static 'doctors/css/open_agenda.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
    <link rel="stylesheet" href="{% static 'doctors/css/register_doctors.css' %}">
    <link rel="stylesheet" href="{% static 'patients/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'patients/css/make_schedule.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

{% endblock 'head' %}

{% block 'body' %}
    {% include "partial/navbar.html" %}

    <br><br>
    <div class="container">
        {% if 'C' in my_appointments.status %}
        <div class="alert alert-danger" role="alert">
            Consultation canceled!
        </div>
        {% elif 'F' in my_appointments.status %}
            <div class="alert alert-danger" role="alert">
                Finished Schedule!
           </div>
        {% elif 'I' in my_appointments.status %}
            <div class="alert alert-primary" role="alert">
                Consultation started. Access the link right now!
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4"><img src="{{dr_data.photo.url}}" class="foto-perfil-card-lg" alt=""></div>
                    <div class="col-md">
                        <p style="font-size: 20px" class="p-bold">Dr. {{dr_data.name}} <i class="bi bi-patch-check-fill icon-main"></i></p>
                        <p>{{dr_data.description}}</p>
                        <p class="p-bold">{{my_appointments.open_agenda.date}}</p>
                    </div>
                </div> 
                <hr>
                <br>
                <div class="row">
                    <div class="col-md">
                        
                        <p><i class="color-dark bi bi-check-circle-fill"></i> Scheduled Consultation </p>
                    </div>
                    <div class="col-md">
                        <!-- IF consult is finished ADDS class "color-dark", that turns it into blue -->
                        <p><i class="{% if my_appointments.status == 'F' %}color-dark{% endif %} bi bi-check-circle-fill"></i> Consultation done </p>
                    </div>
                    <div class="col-md">
                        <p><i class="bi bi-check-circle-fill"></i> Evaluated Consultation </p>
                    </div>
                </div>
                <hr>
                <h3 class="p-bold">Consultation details</h3>
                <p style="font-size:20px"><i class="bi bi-calendar3 color-dark"></i>&nbsp; {{my_appointments.open_agenda.date}}</p>
                <p style="font-size:20px"><i class="bi bi-tag-fill color-dark"></i></i>&nbsp; R$ {{dr_data.appointmentValue}}0</p>
                
                <hr>
                <h3 class="p-bold"> How to access?</h3>
                <p>At the time of the consultation, access the link available below</p>
                
                {% if "I" in my_appointments.status and my_appointments.link %}
                    <a href="{{my_appointments.link}}" class="btn btn-success btn-dark-color btn-lg" >Access consultation</a>
                {% comment %} {% else %} <a href="{% url 'appointment' id_appointment%}" class="btn btn-success btn-dark-color btn-lg" >Access consultation</a> {% endcomment %}
                {% endif %}
                <hr>
                <h3 class="p-bold">My documents</h3>
                <br>
                <br>
                {% for document in documents %}
                    <a href="{{document.link}}" class="link-documentos"><i class="bi bi-file-arrow-down"></i> {{document.title}} - {{document.my_appointments.open_agenda.date.year}}</a>
                    <br>
                    <br>
                {% endfor %}
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="col-md"></div>
        </div>
        
    </div>

{% endblock 'body' %}