{% extends "base.html" %}
{% load static %}

{% block 'head' %}

    <link rel="stylesheet" href="{% static 'doctors/css/open_agenda.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
    <link rel="stylesheet" href="{% static 'doctors/css/register_doctors.css' %}">
    <link rel="stylesheet" href="{% static 'patients/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'patients/css/make_schedule.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

{% endblock 'head' %}

{% block 'body' %}
    {% include "partial/navbar.html" %}

    <br><br>
    <div class="container">
        {% if appointment.status=='C' %}
            <div class="alert alert-danger" role="alert">
                Appointment canceled.
            </div>
        {% elif appointment.status=='F'%}
            <div class="alert alert-success" role="alert">
                Appointment finished.
            </div>
        {% elif appointment.status=='1'%}
            <div class="alert alert-primary" role="alert">
                Appointment started. Access the link immediatly.
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3"><img src="{{drData.photo.url}}" class="foto-perfil-card-lg" alt=""></div>
                    <div class="col-md">
                        <p style="font-size: 20px" class="p-bold">Dr. {{drData.name}} <i class="bi bi-patch-check-fill icon-main"></i></p>
                        <p>{{drData.description}}</p>
                        <p class="p-bold">{{appointment.open_agenda.date}}</p> 
                        <a href="{% url 'cancel_appointment' appointment.id %}" class="btn btn-danger">Cancel</a>
                    </div>
                </div> 
                <hr>
                <br>id_appointment
                <div class="row">
                    <div class="col-md">
                        
                        <p><i class="color-dark bi bi-check-circle-fill"></i> Scheduled Consultation </p>
                    </div>
                    <div class="col-md">
                        <!-- IF consult is finished ADDS class 'color-dark', that turns it into blue -->
                        <p><i class="{% if appointment.status=='F' %}color-dark bi bi-check-circle-fill"></i> Consultation done </p>
                    </div>
                    <div class="col-md">
                        <p><i class="bi bi-check-circle-fill"></i> Evaluated Consultation </p>
                    </div>
                </div>
                <hr>
                <h3 class="p-bold">Consultation details</h3>
                <p style="font-size:20px"><i class="bi bi-calendar3 color-dark"></i>&nbsp; {{appointment.open_agenda.date}}</p>
                <p style="font-size:20px"><i class="bi bi-tag-fill color-dark"></i></i>&nbsp; R$ {{drData.appointmentValue}}</p>
                <a style="cursor: auto;" class="btn btn-dark-color-outline btn-lg">Add it to your agenda</a>
                <hr>
                <h3 class="p-bold"> How to access?</h3>
                <p>At the time of the consultation, access the link available below</p>
                
                {% if appointment.status == 'I' and appointment.link %}
                    <a href="{{appointment.link}}" class="btn btn-success btn-dark-color btn-lg" >Access consultation</a>
                {% else %}
                    <a href="#" class="btn btn-success btn-dark-color btn-lg disabled" >Access consultation</a>
                
                <hr>
                <h3 class="p-bold">My documents</h3>
                <br>
                <br>
                {% for document in documents %}
                    <a href="{{document.document.url}}" class="link-documentos"><i class="bi bi-file-arrow-down"></i> {{document.title}} - {{document.appointment.open_agenda.date.year}}</a>
                    <br>
                    <br>
                {% endfor %}
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="col-md"></div>
        </div>
        
    </div>

{% endblock 'body' %}