{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'doctors/css/open_agenda.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
    <link rel="stylesheet" href="{% static 'doctors/css/register_doctors.css' %}">
{% endblock 'head' %}

{% block 'body' %}
    {% include 'partial/navbar.html' %}
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md-8">
                
                <img src="{{dr_data.photo.url}}" alt="" class="foto-perfil">
                <label for="" style="margin-left: 30px; font-size: 25px;" class="p-bold"> Hello, Dr. <span class="color-dark">{{dr_data.name}}</span></label>

                <br>
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <section class="alert {{message.tags}}">
                            {{message}}
                        </section>
                    {% endfor %}
                {% endif %}
                <br>
                <p class="p-bold" style="font-size: 25px;"> Open agenda for appointments</p>
                <hr>
                <form action="{% url 'open_agenda' %}" method="POST"> {% csrf_token %}
                    <label for="">Choose date: </label>
                    <input type="datetime-local" name="date" id="date" class="form-control shadow-main-color">
                    <br>
                    <input type="submit" value="Save" class="btn btn-success btn-dark-color">
                </form>
            </div>
            <div class="col-md-4">
                <p class="p-bold" style="font-size: 25px"> Your agenda: </p>
                {% for open_agenda in open_agenda %}
                    {% if open_agenda.date >= now%}
                        <div class="col-md">
                            <div class='selecionar-dia'>
                                <div class="header-dias">
                                    {{open_agenda.date}}
                                </div>
                            {% comment %} 
                            <span class="mes">
                            {{open_agenda.date.month}}
                            </span>
                            
                            <span class="dia-semana">
                            {{open_agenda.date.weekday}}
                            </span>
                            {% endcomment %}
                            </div>
                            <br>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{%  endblock 'body' %}